.manageAccount-box {
  padding: 0 28px;
  .md({
    min-height: calc(var(--vh) - 30px - 90px);
  });
}
.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}
.title-left {
  span:nth-child(1) {
    color: var(--color7);
    margin-right: 5px;
  }
}
.title-right {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  span:nth-child(2) {
    color: var(--color6);
    margin-left: 5px;
  }
}
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 35px;
  .md({
    grid-template-columns: repeat(1, 1fr);
    overflow: auto;
    max-height: calc(var(--vh) - 310px);
    padding-bottom: 30px;
  });
}
.item-btn {
  padding: 15px 20px;
  min-height: 80px;
  background: radial-gradient(87.23% 87.23% at 50% 12.77%, rgba(60, 132, 217, 0.5) 0%, rgba(19, 49, 84, 0.5) 100%) !important;;
  border-radius: 6px;
  /* border: 1px solid linear-gradient(180deg, #b2c6d8 0%, #69ffff 100%); */
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  height: 0;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    border: 1px solid transparent;
    background: linear-gradient(180deg, #b2c6d8 0%, #69ffff 100%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  .tip-icon {
    width: 34px;
    height: 30px;
    position: absolute;
    right: -1px;
    bottom: -1px;
    color: var(--color4);
    display: none;
  }
  .item-icon {
    .size(50px);
    font-size: 50px;
    object-fit: contain;
  }
  &.active {
    border: 1px solid var(--color4);
    .tip-icon {
      display: block;
    }
  }
}
.newbg{
  background: url(@/assets/images/submitBtn.png) no-repeat !important;
  background-size: cover !important;
  
  &::before{
    border: none;
    background: transparent;
  }
  
}
.item-icon {
  .size(50px);
  border-radius: 3px;
  margin-right: 21px;
}
.itme-name {
  margin-bottom: 3px;
}
.item-content {
  flex: 1;
  
    color: #1971a2 !important;
}
/* .add-dropdown {
  .md({
    flex: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: var(--color1);
  });
} */
.add-box {
  width: 100%;
}
.dropdown-item {
  width: calc((var(--container-width) - 150px) / 2);
  max-width: 100%;
  padding: 10px 0;
  .md({
    width: calc(100vw - 100px);
  });
}
.empty {
  height: 500px;
  .md({
    height: 60vh;
  });
}
