.page-box {
  padding: 23px 0 42px;
  font-size: 18px;
  .md({
    padding: 0;
    
    font-size: 20px;
  });
}
.nav-bar {
  margin-bottom: 15px;
}
.content-box {
  background-color: var(--color1);
  border-radius: 5px;
  padding: 54px 300px;
  min-height: 800px;
  .md({
    border-radius: 0;
    padding: 30px;
    min-height: calc(var(--vh) - 15px - var(--navbar-height));
  });
}
.input-title {
  color: var(--color7);
  margin-bottom: 39px;
}
.btn {
  margin-top: 133px;
}
.top-input {
  margin-bottom: 60px;
}
.tip {
  color: var(--color6);
}
