.content {
  height: 570px;
  overflow: auto;
}
.btn {
  margin-left: 0 !important;
  margin-top: 20px;
}
.box {
  position: relative;
}
.swiper {
  cursor: pointer;
}
.announcement-left,
.announcement-right {
  position: absolute;
  font-size: 26px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}
.announcement-left {
  left: -10px;
}
.announcement-right {
  right: -10px;
}
.tip {
  width: fit-content;
  margin: 20px auto 0;
  cursor: pointer;
  user-select: none;
}
