.van-popup--center {
  width: 640px;
  padding: 30px;
  .md({
    width: 690px;
    padding:40px 30px;
    overflow: visible !important;
  });
  @media (min-width:447px) {
    top: 39%;
  }
}
:deep(.van-popup__close-icon) {
  .size(35px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-size: 20px;
  .flex-center();
  color: var(--color7);
  .md({
    left: 50%;
    top: auto;
    transform: translate(-50%,40px);
   /*  border:1px solid #FFF; */
    .size(45px);
    font-size: 28px;
    width: 100px;
    height: 100px;
    background: url(../../images/close.png) no-repeat center;
    background-size: cover;
  });
  &::before{
    content: "";
  }
}
.van-popup--bottom {
  width: 640px;
  padding: 30px;
  .md({
    width: 100%;
    padding:40px 30px;
    overflow: visible !important;
  });
}
